.pio
.DS_Store
include/wifi_secrets.h
include/generated
mapping/ledmap_bench.json
mapping/pixels_bench.json
tools/wled_spike/wled
__pycache__
*.pyc
webui/node_modules
webui/dist
webui/dist_gz
webui/dist_gz_size_report.json
webui/dist_gz_size_report.txt
