---
import BaseLayout from "../../layouts/BaseLayout.astro";
import EffectDetailIsland from "../../islands/EffectDetailIsland";
---
<BaseLayout title="Effect">
  <EffectDetailIsland client:load />
  <div class="mt-6">
    <a class="link" href="/">Home</a>
  </div>
</BaseLayout>

